.K-Chem-Periodic-Table{color:#000}
.K-Chem-Periodic-Table .K-Chem-Periodic-Table-Legend{color:#000}
.K-Chem-Periodic-Table .K-Chem-Periodic-Table-Legend-Content{background-color:#eee;box-shadow:1px 1px 2px #aaa}
.K-Chem-Periodic-Table-Head-Cell-Content{color:#aaa}
.K-Chem-Periodic-Table td.K-Chem-Periodic-Table-Elem-Cell,.K-Chem-Periodic-Table td.K-Chem-Periodic-Table-Elem-StubsCell{border-color:transparent}
.K-Chem-Periodic-Table-Legend .K-Chem-Periodic-Table-Elem-Cell-Content{background-color:#3098d5}
.K-Chem-Periodic-Table td.K-Chem-Periodic-Table-Elem-Cell .K-Chem-Periodic-Table-Elem-Cell-Content:hover{outline-color:#fff}
.K-Chem-Periodic-Table .K-Chem-Atomic-Num{}
.K-Chem-Periodic-Table .Nonmetals{background-color:#d8d5c4}
.K-Chem-Periodic-Table .NobleGasses{background-color:#3098d5}
.K-Chem-Periodic-Table .AlkaliMetals{background-color:#fff798}
.K-Chem-Periodic-Table .AlkaliEarthMetals{background-color:#a986be}
.K-Chem-Periodic-Table .Metalloids{background-color:#faab4e}
.K-Chem-Periodic-Table .Halogens{background-color:#bbc0d6}
.K-Chem-Periodic-Table .Metals{background-color:#2bbda8}
.K-Chem-Periodic-Table .Transitionmetals{background-color:#f2635d}
.K-Chem-Periodic-Table .Lanthanides,.K-Chem-Periodic-Table .Actinides{background-color:#e4e5e7}
.K-Chem-Periodic-Table td.K-State-Selected{border-color:#000}
.K-Chem-Periodic-Table .K-State-Selected .K-Chem-Periodic-Table-Elem-Cell-Content{background-color:#fff;outline:1px solid #000;transform:scale(1.1)}
.K-Chem-Viewer-Menu-Button > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:0 0}
.K-Chem-MolDisplaySkeletal > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-26px 0}
.K-Chem-MolDisplayCondensed > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-52px 0}
.K-Chem-MolDisplayWire > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-78px 0}
.K-Chem-MolDisplaySticks > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-104px 0}
.K-Chem-MolDisplayBallStick > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-130px 0}
.K-Chem-MolDisplaySpaceFill > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-156px 0}
.K-Chem-MolHideHydrogens > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-182px 0}
.K-Chem-RotateLeft > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-208px 0}
.K-Chem-RotateRight > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-234px 0}
.K-Chem-RotateX > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-260px 0}
.K-Chem-RotateY > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-286px 0}
.K-Chem-RotateZ > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-312px 0}
.K-Chem-ZoomIn > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-338px 0}
.K-Chem-ZoomOut > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-364px 0}
.K-Chem-Reset > .K-Pri-Glyph-Content,.K-Chem-ResetZoom > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-390px 0}
.K-Chem-Viewer-Edit > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-416px 0}
.K-Chem-ClearObjs > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-442px 0}
.K-Chem-NewDoc > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-468px 0}
.K-Chem-LoadFile > .K-Pri-Glyph-Content,.K-Chem-LoadData > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-494px 0}
.K-Chem-SaveFile > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-520px 0}
.K-Chem-Undo > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-546px 0}
.K-Chem-Redo > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-572px 0}
.K-Chem-Clone-Selection > .K-Pri-Glyph-Content,.K-Chem-Copy > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-598px 0}
.K-Chem-Cut > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-624px 0}
.K-Chem-Paste > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-650px 0}
.K-Chem-Toggle-Inspector > .K-Pri-Glyph-Content{background-image:url(sprite/chemWidgetColor.png);background-position:-676px 0}
#CssGaga{content:"191226221827,mae,334"}